.wrapper_in-out-dpay {
    display: flex;
    border-bottom: 1px solid #f4f4f6;
    padding: 15px 0;
    flex-direction: column;
}

.wrapper_in-out-dpay div:not(.border-line_in-out-dpay) {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dpay-amount_in-out-dpay {
    padding: 0 0 15px 0;
}

.dpay-power-amount_in-out-dpay {
    padding: 15px 0 0 0;
    border-top: 1px solid #f4f4f6;
}

.start-balance_in-out-dpay {
    color: #979b9e;
}